label {
  margin: 0 20px;
}
legend {
  font-size: 20px;
}
#users-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 20px;
}
.field-container {
  margin: 20px;
  display: flex;
  justify-content: center;
}
.field-container input {
  font-size: 15px;
}
.group-container {
  margin: 20px;
  min-width: 100%;
}
.btn-group {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.error {
  display: flex;
  justify-content: center;
  color: red;
}
