.active {
  color: red;
}
#root {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}
.header {
  margin: 10px;
  max-width: 900px;
}
.selected {
  color: teal;
}
ul {
  display: flex;
}
li {
  margin: 0px 10px;
  font-size: 30px;
  list-style: none;
}
