* {
  box-sizing: border-box;
}
.albums-container,
.albums-photos {
  display: flex;
  flex-direction: column;
}
.album-item,
.photos-item {
  padding: 5px;
  margin: 5px;
  border: 3px solid black;
  font-size: 20px;
}
